<div class="container-fluid">
    <div class="header">
        <h1>SemaKitu</h1>
        <hr>
        <p>Say something...</p>
    </div>
    <h2> History</h2>
    <div id="quotes">
        <div class="row">
            <div class="col-md-3" *ngFor='let quote of quotes; let i = index'>
                <div class="card">
                    <div class="card-header">
                        <q>{{quote.quote}}</q>
                    </div>
                    <button (click)='toggleDetails(i)' class="btn btn-outline-primary">Author</button>
                    <div *ngIf='quote.showName'>
                        <app-details [name]='quote' (isComplete)='DeleteGoal($event,i)'>
                        </app-details>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p *ngIf='quotes.length > 9'>Best of 9</p>

    <div class="forma">
        <app-form (addQuote)='addNewQuote($event)'></app-form>
    </div>
</div>