<div class=" card-body p-1 ">
    <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer">
            <p>By~<strong><cite class="">{{name.publisher}}</cite></strong></p>
            <p>Submitted by~<strong><cite></cite>{{name.author}}</strong></p>
        </footer>
        <p>Submitted {{name.completeDate| timeCount}} days ago.</p>
    </blockquote>
    <button (click)='upVote(true)' class="btn btn-outline-success">UpVotes {{name.likes}}</button>
    <button (click)='downVote(true)' class="btn btn-outline-info">DownVotes {{name.dislikes}}</button>
    <button (click)='goalDelete(true)' class="btn btn-outline-danger">Delete</button>
</div>